body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/images/bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #24151c;
}
a{
    text-decoration: none; 
}
.container {
    text-align: center;
}
.group{
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
    
}
.button {
    align-items: center;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button:hover:after {
    transform: translate(0, 0);
  }
  
  .button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0 40px;
    }
  }

.green-button {
    background-color: #71ffaa;
    color: black;
}

.red-button {
    background-color: #fa6262;
    color: white;
}

.red-button.hide {
    display: none;
}


/* CSS */
